body {
    font-family: 'Google Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: 'Google Sans', sans-serif !important;
}